.card-wrapper {
    @include flex(row, space-around, flex-start);
    flex-wrap: wrap;
    align-items: stretch;
    margin: auto;
    width: 80%;
}

.card {
    @include flex(column, center, center);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    margin: 1%;
    padding: 1%;
    border-radius: 28px;
    text-align: center;
    width: 30%;    
        &__title{
            margin: 0;
            padding: 0;
            width: 100%;
        }
        &__subtitle{
            text-align: center;
            margin: 0;
            padding: 0;
        }
        &__img{

            padding: 15px;
            width: 70%;
            border-radius: 50%;
        }
        &__text{
            text-align: center;
            margin: 0;
            padding: 0;
        }
}

.card__text-wrapper {
    width: 90%;
}

