.card-wrapper {
    @include flex(row, space-around, flex-start);
    flex-wrap: wrap;
    align-items: stretch;
    margin: auto;
    &--bg{
        background: 
        url(image(vector03))  no-repeat top, 
        url(image(vector04))  no-repeat bottom;
        background-repeat: repeat-y space;


    }
}

// background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 2037.91'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e1f2e7;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E03_vector_bg-edit%3C/title%3E%3Cpath class='cls-1' d='M951,958.61C521.76,868.15,328.58,852.05,0,932.93l1,419.9c324.5,137.58,984.5-10.07,1439,102.6V988.88C1302.84,1001.76,1152.86,1001.15,951,958.61Z' transform='translate(0 582.48)'/%3E%3Cpath class='cls-1' d='M685.27-459.87c242.43-122.9,677.29-124,754.73-122.3V-28.43C1091-73.36,1000.5,142.28,0,57.17v-405.8C229.33-342.2,442.84-337,685.27-459.87Z' transform='translate(0 582.48)'/%3E%3C/svg%3E");

.card {
    @include flex(column, flex-start, center);
    background-color: color(background);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    margin: 1%;
    padding: 1%;
    border-radius: 28px;
    text-align: center;
    width: 30%;    
        &__title{
            margin: 0;
            padding: 0;
            width: 100%;
            &--left{
                width: 110%;
                text-align: left;
            }
        }
        &__subtitle{
            text-align: center;
            margin: 0;
            padding: 0;
        }
        &__img{
            margin: 0;
            padding: 15px;
            width: 110%;
            &--br{
                padding: 40px;
                border-radius: 50%;
            }
        }
        &__text{
            text-align: center;
            margin: 0;
            padding: 0;
            &--left{
                text-align: left;
            }
        }
}

.card__text-wrapper {
    width: 90%;
    margin-bottom: 10%;
}

