.card-wrapper {
    @include flex(row, center, flex-start);
    flex-wrap: wrap;
    align-items: stretch;
    margin: auto;

    @include mobile{
        @include flex(column, space-between, space-between); }

    &--bg {
        background: 
        url(image(vector03))  no-repeat top, 
        url(image(vector04))  no-repeat bottom;
        background-repeat: repeat-y space;
        @include mobile{
            background-image: none; }
    }
}

.card {
    @include flex(column, flex-start, center);
    background-color: color(background);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    margin: 1%;
    padding: 1%;
    border-radius: 28px;
    text-align: center;
    width: 30%;    
    transition: 0.5s ease-in-out;

    @include tablet {
        width: 40%; }

    @include mobile{
        margin: 2% 15%;
        width: 70%; }

    &:hover{
        transform: scale(99%);
        cursor: pointer;
    }
}
    
.card { 
    &__title {
            margin: 0;
            padding: 0;
            width: 100%;
            &--left{
                width: 110%;
                text-align: left;
                @include desktop{
                    width:100%; }
                @include tablet {
                    width: 90%; }
                @include mobile { width:100%; }
            }
            &--modal{
                color:color(background);
            }
        }
    &__subtitle {
        text-align: center;
        margin: 0;
        padding: 0;
        &--modal{
            color:color(background);
        }
    }
}

.card {
    &__img{
        margin: 0;
        padding: 15px;
        width: 110%;
        @include mobile {
            width: 90%; }
        &--nw {
            width: 30%;
            @include mobile {
                display: none; }
        }
        &--br {
            padding: 40px;
            border-radius: 50%; 
        }
    } 
}

.card{
    &__text{
        text-align: center;
        margin: 0;
        padding: 0;
        @include mobile {
            margin: auto; }
        &--left {
            text-align: left;
        }
        &--modal {
            color: color(background);
        }
    }   
}

.card__text-wrapper {
    width: 90%;
    margin-bottom: 10%;
    &--modal {
        text-align: center;
        margin: 0;
        width: 60%;
        @include mobile {
            margin: auto;   
            width: 80%; }
    }
}

//MODAL

.modal {
    @include flex(row, center, center);
    cursor: pointer;
    position: fixed;
    margin:auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: rgba(27, 32, 27, 0.959);
    @include mobile {
        @include flex(column, center, center); }
}

