.question-wrapper{
    @include flex(row, space-between, center);
    font-family: $font-secondary;
    font-size: font-size(text);
    @include desktop{
        font-size: font-size-mq(text);
    }
    @include tablet{
        font-size: font-size-mq(text);
    }
    @include mobile{
        font-size: font-size-mq--mobile(text);
    }
}
