.form-wrapper {
    color: color(text);
    @include flex(row, space-between, flex-start);
    &--rs{
        margin-right: 15%;
        @include flex(column, flex-start, flex-start);
        h6{
            margin: 0;
        }
    }
    &--reverse{
        @include flex(row-reverse, space-between, flex-start);
    }
    &--bg{
        color: color(background);
        padding: 3% 0;
        background-color: color(accent);
    }
    &--white{
        color: color(background);
    }
    
}

.section-wrapper-censo{
    padding: 3% 0;
}


.wpforms
{
    &-title{
        @extend %sub-sub-subtitles;
        font-weight: 700;
    }
}

.wpforms-field-label{
    font-size: font-size(button-text) !important;
    font-weight: 500 !important;
}

.form{
    width: 40% !important;
    &__content{
        margin: auto;
        width: 95%;
        &--50w{
            margin: 0 2%;
            width: 50%;
            p{
                color: color(background);    
            }
            
        }

    }

}

.wpforms-field-large {
    border: 2px solid #B6B6B6 !important;
    border-radius: 4px !important;
    &:hover{
           border-color: #F2AC45 !important;
    }
}