.section-wrapper{

&--01{
    background-image: url(image(vector03));
    background-repeat: no-repeat;
    background-position: bottom bottom;
    background-size: cover;
    @include mobile{
        background-image: none; } } 
&--02{
    background-image: url(image(vector04));
    background-repeat: no-repeat;
    background-position: center;
    @include mobile{
        background-image: none; } }

&--flex{
    padding: 10% 0;
    @include flex(row, center, center);
    &--col{
        @include flex(column, center, flex-start); 
        p {
            width: 80%;
            margin: 3% 2%; }   
        }
    }
}
