.section-wrapper{

&--01{
    background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='1079' viewBox='0 0 1920 1079.61'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e1f2e7;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E01_vector_bg%3C/title%3E%3Cpath class='cls-1' d='M913.69,201C1236.94-.08,1816.75-1.91,1920,.9V907c-465.33-73.51-586,279.38-1920,140.08v-664C305.78,393.59,590.45,402.12,913.69,201Z' transform='translate(0 -0.39)'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
&--02{
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='793' viewBox='0 0 1440 793' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M951 107.557C521.761 -17.1139 328.585 -39.3059 0 72.1744L1 650.885C325.5 840.5 985.5 637 1440 792.297V149.282C1302.84 167.039 1152.86 166.187 951 107.557Z' fill='%23E1F2E7'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 850px;
}

&--flex{
    margin-top: 280px;
    @include flex(row, center, center);
    &--col{
        @include flex(column, center, flex-start); 
        p {
            width: 80%;
            margin: 3% 2%;
            }   
        }
    }

&--pr{
    margin-top: 5px;

}
}
