.section {
    &--bg-01{
        padding: 5% 0;
        background-image: url(image(vector01));
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include tv {
            padding: 20% 0; }   
        @include mobile {
            background-image: none; } 
        } 
}

.section {
    &--bg-02 {
        background-image: url(image(vector04));
        background-repeat: no-repeat;
        background-position: center;
        @include mobile {
            background-image: none; } 
    }
}

.section {
    &--flex {
        padding: 10% 0;
        @include flex(row, center, center);
        &--col {
            @include flex(column, center, flex-start); 
            p {
                width: 80%;
                margin: 3% 2%; 
            }   
        }
    }
}

.mt {
    margin-top: 15%;
    &--5{
        margin-top: 5%;
    }
}