//HERO

//BACKGROUND

.hero {
    padding: 5% 0;
    @include flex(row, space-between, center);
    @include tv {
        padding: 15% 0; }
    @include tablet {
        display: block; }
    @include mobile {
        display: block; }
    flex-wrap: wrap;
    &__bg {
        margin: 0;
        padding: 0;
        background-image: url(image(hero));
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @include desktop {
                height: 600px; }
            }
        }

//TEXT AND IMG

.hero {
    &__text{
        width: 50%;
        @include flex(column, flex-start,  flex-start);
        @include tablet {
            width: 80%; }
        @include mobile {
            width: 100%; }
    }
    &__img {
        border-radius: 50%;
        @include desktop {
            width: 40%; }
        @include tablet {
            display: none; }
        @include mobile {
            display: none; }
    }
}

//HEADER

.header-bar {
    background-color: color(primary);
    height: 70px;
    @include flex(row, space-between, center);
}

.header-rss{
    @include flex(row, flex-end, center);
}

.site-header {
    @include flex(row, space-between, flex-start);
}

//LOGO

.logo--menu{
    width: 100%;
    padding: 0;
    margin: 0 -5%;
    transition: all 1.5s ease-in-out;
    @include tablet {
        display: none; }
    @include mobile {
        display: none; }
}

//MENU MOBILE

.menu-toggle {
    cursor: pointer;
    background-color: transparent;
    border: none;
}