.bi {
    color: color(background);
    margin: 15px;
    font-size: font-size(text);
    @include desktop{
        font-size: font-size-mq(text);
    }
    @include tablet{
        font-size: font-size-mq(text);
    }
    @include mobile{
        margin: 10px;
        font-size: font-size-mq--mobile(text);
    }
    &:hover{
        transition: $link-transition;
        color: darken(color(background), 5%);
    }
    &--form{
        margin: 8px;
        color: color(text);
        &:hover{
            transition: $link-transition;
            color: lighten(color(text), 10%);
        }
    }
    &-plus{
        background-color: color(primary);
        font-size: font-size(sub-title);
        font-weight: 900;
        padding: 0 10%;
        border-radius: 50%;
        @include desktop{
            font-size: font-size-mq(sub-title);
        }
        @include tablet{
            font-size: font-size-mq(sub-title);
        }
        @include mobile{
            font-size: font-size-mq--mobile(sub-title);
        }
    }
    &-chevron-compact-down{
        font-size: font-size(sub-title);
        font-weight: 900;
        color: color(text);
        @include desktop{
            font-size: font-size-mq(sub-title);
        }
        @include tablet{
            font-size: font-size-mq(sub-title);
        }
        @include mobile{
            font-size: font-size-mq--mobile(sub-title);
        }
        &:hover{
            transition: $link-transition;
            color: lighten(color(text), 10%);
        }
    }
}

details[open] > summary .bi-chevron-compact-down {
    transform: rotate(180deg);
    transition: $link-transition;
}

.link-padding {
    padding-right: 2%;
}

.glosario{
    &-wrapper {
        @include flex(row, flex-end, flex-end);
    }
    &__img{
        margin-right: 5%;
        margin-bottom: 3%;
        @include mobile {
            width: 35%; }
    }
}
