.ul-mision__li{
    list-style: none;
    margin-bottom: 4%;
    p::before {
        content: "\2022";  
        color: color(primary); 
        font-weight: 800; 
        font-size: font-size(sub-title);
        display: inline-block; 
        width: 0.7em; 
        margin-left: -1em; 
    }
}

.ul-form-contact{
    padding: 2% 0;
    margin-left :0;
    list-style: none;
    li {
        padding: 2% 0;
    }
}