nav {
    background-color: color(background);
    top: 0;
    position: sticky;
    z-index: 999;
    @include desktop {
        padding-bottom: 2%; }
    @include tablet {
        padding-bottom: 2%; }
    @include mobile {
    }
}

.main-navigation ul {
    margin-top: 2%;
    justify-content: flex-end;
    @include mobile{
        justify-content: center;
    }
}

.menu  li {
    margin-right: 2px;
    font-family: $font-secondary;
    font-weight: 500; 
    @include mobile{
        font-size: font-size-mq(text);
    }
        a {
            padding: 0.1rem 0.5rem;
            @include mobile{
                font-size: font-size-mq(link);
            }
        }
    }

    .li--accented a {
        color: color(background);
        border-radius:  250px;
        background-color: color(accent);  
        &:hover{
            background-color: lighten(color(accent), 5%);  
        }
    }

    .li--bold {
        font-weight: bold;
        a {
        font-weight: bold;
    }
}

.sub-menu {
    background: color(background);
    transition: 0.3s;
    @include flex(column, center, center);
    padding: 0.5rem;
    border-radius: 1%;
    li a {
        &:hover{
            color: color(background);
            background-color: color(primary);
        }
    }
}

