
.title {
    text-align: center;
    &--left {
        text-align: left;
    }
    &--mb-0 {
        margin-bottom: 0;
    }
}

.title__span {
    border-left: 5px solid #FBD197;
    padding-left: 10px;
    &--green {
        border-left: 5px solid #9DC8AA;
        //padding-left: 10px;
    }
    &--grey{
        border-left: 5px solid #8888;
    }
}