@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
body {
  min-width: 340px;
  background-color: #FFFFFF;
  scroll-behavior: smooth;
}

.content-wrapper {
  margin: auto;
  width: 83%;
}

h1, h3, h5, .wpforms-title, h6 {
  font-family: "Playfair Display", serif;
  font-size: 3.1rem;
  color: #3A5743;
}

h3, h5, .wpforms-title, h6 {
  font-size: 2.3rem;
}

h5, .wpforms-title, h6 {
  font-family: "Mukta", sans-serif;
  font-size: 1.9rem;
}

.wpforms-title, h6 {
  font-size: 1.7rem;
}

h1 {
  text-transform: uppercase;
}
@media (min-width: 1049px) and (max-width: 1500px) {
  h1 {
    font-size: 2.3rem;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  h1 {
    font-size: 2.3rem;
  }
}
@media (max-width: 759px) {
  h1 {
    font-size: 1.6rem;
  }
}

@media (min-width: 1049px) and (max-width: 1500px) {
  h3 {
    font-size: 1.8rem;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 759px) {
  h3 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1049px) and (max-width: 1500px) {
  h5 {
    font-size: 1.6rem;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  h5 {
    font-size: 1.6rem;
  }
}
@media (max-width: 759px) {
  h5 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1049px) and (max-width: 1500px) {
  h6 {
    font-size: 1.4rem;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  h6 {
    font-size: 1.4rem;
  }
}
@media (max-width: 759px) {
  h6 {
    font-size: 1rem;
  }
}

p, li {
  font-size: 1.6rem;
  color: #3A5743;
}
@media (min-width: 1049px) and (max-width: 1500px) {
  p, li {
    font-size: 1.3rem;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  p, li {
    font-size: 1.3rem;
  }
}
@media (max-width: 759px) {
  p, li {
    font-size: 0.9rem;
  }
}

li {
  list-style: none;
}

.section-pagsutiles, .section-novedades, .section-faqs, .section-contacto, .section-equipo {
  margin-bottom: 10%;
}

.post-type-archive {
  margin: 0 0 1.5em;
}

#wpforms-submit-227, #wpforms-submit-213, #wpforms-submit-26, .button {
  background-color: #F2AC45;
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 220px;
  padding: 1% 2.5%;
  cursor: pointer;
}
@media (min-width: 1049px) and (max-width: 1500px) {
  #wpforms-submit-227, #wpforms-submit-213, #wpforms-submit-26, .button {
    font-size: 1.2rem;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  #wpforms-submit-227, #wpforms-submit-213, #wpforms-submit-26, .button {
    font-size: 1.2rem;
  }
}
@media (max-width: 759px) {
  #wpforms-submit-227, #wpforms-submit-213, #wpforms-submit-26, .button {
    font-size: 0.7rem;
  }
}

.button--center {
  margin-left: 45%;
}
.button--green {
  background-color: #7CBC95;
}
.button--grey {
  background-color: #8888;
}

#wpforms-submit-26 {
  padding: 2.5% 7%;
}

#wpforms-submit-213 {
  padding: 2.5% 7%;
}

#wpforms-submit-227 {
  padding: 2.5% 7%;
}

a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #3A5743;
  transition: all ease-in-out 0.3s;
}
a:visited {
  color: #3A5743;
}
a:hover {
  color: #639472;
}
@media (min-width: 1049px) and (max-width: 1500px) {
  a {
    font-size: 1.1rem;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  a {
    font-size: 1.1rem;
  }
}
@media (max-width: 759px) {
  a {
    font-size: 0.7rem;
  }
}

.edit-link {
  display: none;
}

.rss--header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.rss--footer {
  margin: -5%;
}
.rss--footer .bi {
  color: #7CBC95;
}
.rss--footer .bi:hover {
  transition: all ease-in-out 0.3s;
  color: #9ecdb0;
}
.rss--form {
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.rss--form h6 {
  margin: 0;
}

.section--bg-01 {
  padding: 5% 0;
  background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='1079' viewBox='0 0 1920 1079.61'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e1f2e7;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E01_vector_bg%3C/title%3E%3Cpath class='cls-1' d='M913.69,201C1236.94-.08,1816.75-1.91,1920,.9V907c-465.33-73.51-586,279.38-1920,140.08v-664C305.78,393.59,590.45,402.12,913.69,201Z' transform='translate(0 -0.39)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1980px) {
  .section--bg-01 {
    padding: 20% 0;
  }
}
@media (max-width: 759px) {
  .section--bg-01 {
    background-image: none;
  }
}

.section--bg-02 {
  background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 573.39'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e1f2e7;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E04_vector_bg%3C/title%3E%3Cpath class='cls-1' d='M951,296.75C521.76,206.53,328.58,190.47,0,271.14L1,690C325.5,827.18,985.5,679.91,1440,792.3V327C1302.84,339.77,1152.86,339.19,951,296.75Z' transform='translate(0 -218.91)'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 759px) {
  .section--bg-02 {
    background-image: none;
  }
}

.section--flex {
  padding: 10% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section--flex--col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.section--flex--col p {
  width: 80%;
  margin: 3% 2%;
}

.mt {
  margin-top: 15%;
}
.mt--5 {
  margin-top: 5%;
}

.table__item-3, .table__item-2, .table__item-1 {
  padding: 1% 5%;
  background-color: #FCFBEC;
  border-radius: 6px;
}

.table {
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-row-gap: 0%;
  grid-column-gap: 0%;
  grid-template-areas: "title-1 title-2 title-3" "item-1 item-2 item-3";
}
.table__title-1 {
  grid-area: "title-1";
}
.table__title-2 {
  grid-area: "title-2";
}
.table__title-3 {
  grid-area: "title-3";
}
.table__item-1 {
  grid-area: "item-1";
}
.table__item-1--nobg {
  background-color: #FFFFFF;
}
.table__item-2 {
  grid-area: "item-2";
}
.table__item-2--nobg {
  background-color: #FFFFFF;
}
.table__item-3 {
  grid-area: "item-3";
}
.table__item-3--nobg {
  background-color: #FFFFFF;
}

.table > p:nth-child(6n+1) {
  background-color: #FFFFFF;
}

.table > p:nth-child(6n+2) {
  background-color: #FFFFFF;
}

.table > p:nth-child(6n+3) {
  background-color: #FFFFFF;
}

.question-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Mukta", sans-serif;
  font-size: 1.6rem;
}
@media (min-width: 1049px) and (max-width: 1500px) {
  .question-wrapper {
    font-size: 1.3rem;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  .question-wrapper {
    font-size: 1.3rem;
  }
}
@media (max-width: 759px) {
  .question-wrapper {
    font-size: 0.9rem;
  }
}

.ul-mision__li {
  list-style: none;
  margin-bottom: 4%;
}
.ul-mision__li p::before {
  content: "•";
  color: #7CBC95;
  font-weight: 800;
  font-size: 2.3rem;
  display: inline-block;
  width: 0.7em;
  margin-left: -1em;
}
@media (max-width: 759px) {
  .ul-mision__li p::before {
    font-size: 1.3rem;
    width: 0.5em;
    margin-left: -4em;
    display: none;
  }
}
@media (max-width: 759px) {
  .ul-mision__li p {
    margin-left: -6em;
  }
}

.ul-form-contact {
  padding: 2% 0;
  margin-left: 0;
  list-style: none;
}
.ul-form-contact li {
  padding: 2% 0;
}

.title {
  text-align: center;
}
.title--left {
  text-align: left;
}
.title--mb-0 {
  margin-bottom: 0;
}
.title--white {
  color: #FFFFFF;
}

.title__span {
  border-left: 5px solid #FBD197;
  padding-left: 10px;
}
.title__span--green {
  border-left: 5px solid #9DC8AA;
}
.title__span--grey {
  border-left: 5px solid #8888;
}

html {
  background-color: #E1F2E7;
}
html footer {
  background-color: #E1F2E7;
}

.footer {
  color: #7CBC95;
  margin: auto;
  padding: 4%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 759px) and (max-width: 1049px) {
  .footer {
    flex-wrap: wrap;
  }
}
@media (max-width: 759px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__logo {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 759px) and (max-width: 1049px) {
  .footer__logo {
    margin-bottom: 5%;
  }
}
@media (max-width: 759px) {
  .footer__logo {
    margin-bottom: 5%;
  }
}
.footer__logo p {
  color: #7CBC95;
  margin-top: -7%;
}
@media (min-width: 759px) and (max-width: 1049px) {
  .footer__logo p {
    margin-top: 0;
  }
}

.footer-rss {
  margin: -5%;
}
.footer-rss .bi {
  color: #7CBC95;
}
.footer-rss .bi:hover {
  transition: all ease-in-out 0.3s;
  color: #9ecdb0;
}

.footer-lists {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
@media (max-width: 759px) {
  .footer-lists ul {
    margin: 0;
  }
}
.footer-lists li {
  color: #7CBC95;
}
@media (max-width: 759px) {
  .footer-lists li {
    text-align: center;
  }
}
.footer-lists li a {
  color: #7CBC95;
  font-weight: 500;
}
.footer-lists li a:hover {
  color: #bfdfcc;
}

.logo {
  margin: 0;
}
@media (min-width: 759px) and (max-width: 1049px) {
  .logo {
    display: none;
  }
}
@media (max-width: 759px) {
  .logo {
    display: none;
  }
}

nav {
  background-color: #FFFFFF;
  top: 0;
  position: sticky;
  z-index: 1;
}
@media (min-width: 1049px) and (max-width: 1500px) {
  nav {
    padding-bottom: 3%;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  nav {
    padding-bottom: 3%;
  }
}
@media (max-width: 759px) {
  nav {
    padding-bottom: 3%;
  }
}

.main-navigation ul {
  margin-top: 2%;
  margin-right: -45px;
  justify-content: flex-end;
}
@media (min-width: 759px) and (max-width: 1049px) {
  .main-navigation ul {
    margin-right: 0px;
  }
}
@media (max-width: 759px) {
  .main-navigation ul {
    margin-right: 0px;
    justify-content: center;
  }
}

.menu li {
  white-space: nowrap;
  margin-right: 2px;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
}
@media (min-width: 759px) and (max-width: 1049px) {
  .menu li {
    font-size: 1.3rem;
  }
}
@media (max-width: 759px) {
  .menu li {
    font-size: 1.3rem;
    white-space: normal;
  }
}
.menu li a {
  padding: 0.1rem 0.5rem;
}
@media (max-width: 759px) {
  .menu li a {
    font-size: 1.1rem;
  }
}

.li--accented a {
  color: #FFFFFF;
  border-radius: 250px;
  background-color: #E96E51;
}
.li--accented a:hover {
  background-color: #ec8168;
}

.li--bold {
  font-weight: bold;
}
.li--bold a {
  font-weight: bold;
}

.sub-menu {
  background: #FFFFFF;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 1%;
}
.sub-menu li a:hover {
  color: #FFFFFF;
  background-color: #7CBC95;
}

.hero {
  padding: 5% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 1980px) {
  .hero {
    padding: 15% 0;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  .hero {
    display: block;
  }
}
@media (max-width: 759px) {
  .hero {
    display: block;
  }
}
.hero__bg {
  margin: 0;
  padding: 0;
  background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2415.41 804.09'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e1f2e7%3B%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EVector 9%3C/title%3E%3Cpath class='cls-1' d='M2414.91 66.53c-224.08 76.19-620.44 134.72-1149.65 18.2C716.75-36 260.24-6.31-.5 43V804.09c218.29-8.74 577.74-49.4 998.72-167.92 474.85-133.69 1069.11 7 1416.69 132.77Z' transform='translate(0.5 0)'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 1049px) and (max-width: 1500px) {
  .hero__bg {
    height: 600px;
  }
}

.hero__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (min-width: 759px) and (max-width: 1049px) {
  .hero__text {
    width: 80%;
  }
}
@media (max-width: 759px) {
  .hero__text {
    width: 100%;
  }
}
.hero__img {
  border-radius: 50%;
}
@media (min-width: 1049px) and (max-width: 1500px) {
  .hero__img {
    width: 40%;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  .hero__img {
    display: none;
  }
}
@media (max-width: 759px) {
  .hero__img {
    display: none;
  }
}

.header-bar {
  background-color: #7CBC95;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-rss {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.logo--menu {
  width: 100%;
  padding: 0;
  margin: 0 -5%;
  transition: all 1.5s ease-in-out;
}
@media (min-width: 759px) and (max-width: 1049px) {
  .logo--menu {
    display: none;
  }
}
@media (max-width: 759px) {
  .logo--menu {
    display: none;
  }
}

.menu-toggle {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  margin: auto;
}
@media (max-width: 759px) {
  .card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
  }
}
.card-wrapper--bg {
  background: url("data:image/svg+xml,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 739.59'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e1f2e7;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E04_vector_bg%3C/title%3E%3Cpath class='cls-1' d='M913.69,477.43c323.25-137.75,903.06-139,1006.31-137.08V961.1c-465.33-50.36-586,191.39-1920,96V602.17C305.78,609.37,590.45,615.22,913.69,477.43Z' transform='translate(0 -340)'/%3E%3C/svg%3E") no-repeat top, url("data:image/svg+xml,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 573.39'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e1f2e7;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E04_vector_bg%3C/title%3E%3Cpath class='cls-1' d='M951,296.75C521.76,206.53,328.58,190.47,0,271.14L1,690C325.5,827.18,985.5,679.91,1440,792.3V327C1302.84,339.77,1152.86,339.19,951,296.75Z' transform='translate(0 -218.91)'/%3E%3C/svg%3E") no-repeat bottom;
  background-repeat: repeat-y space;
}
@media (max-width: 759px) {
  .card-wrapper--bg {
    background-image: none;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  margin: 1%;
  padding: 1%;
  border-radius: 28px;
  text-align: center;
  width: 30%;
  transition: 0.5s ease-in-out;
}
@media (min-width: 759px) and (max-width: 1049px) {
  .card {
    width: 40%;
  }
}
@media (max-width: 759px) {
  .card {
    margin: 2% 15%;
    width: 70%;
  }
}
.card:hover {
  transform: scale(99%);
  cursor: pointer;
}

.card__title {
  margin: 0;
  padding: 0;
  width: 100%;
}
.card__title--left {
  width: 110%;
  text-align: left;
}
@media (min-width: 1049px) and (max-width: 1500px) {
  .card__title--left {
    width: 100%;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  .card__title--left {
    width: 90%;
  }
}
@media (max-width: 759px) {
  .card__title--left {
    width: 100%;
  }
}
.card__title--modal {
  color: #FFFFFF;
}
.card__subtitle {
  text-align: center;
  margin: 0;
  padding: 0;
}
.card__subtitle--modal {
  color: #FFFFFF;
}

.card__img {
  margin: 0;
  padding: 15px;
  width: 110%;
}
@media (max-width: 759px) {
  .card__img {
    width: 90%;
  }
}
.card__img--nw {
  width: 30%;
}
@media (max-width: 759px) {
  .card__img--nw {
    display: none;
  }
}
.card__img--br {
  padding: 40px;
  border-radius: 50%;
}

.card__text {
  text-align: center;
  margin: 0;
  padding: 0;
}
@media (max-width: 759px) {
  .card__text {
    margin: auto;
  }
}
.card__text--left {
  text-align: left;
}
.card__text--modal {
  color: #FFFFFF;
}

.card__text-wrapper {
  width: 90%;
  margin-bottom: 10%;
}
.card__text-wrapper--modal {
  text-align: center;
  margin: 0;
  width: 60%;
}
@media (max-width: 759px) {
  .card__text-wrapper--modal {
    margin: auto;
    width: 80%;
  }
}

.modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background: rgba(27, 32, 27, 0.959);
}
@media (max-width: 759px) {
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form-wrapper {
  color: #3A5743;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 759px) {
  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.form-wrapper--reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 759px) {
  .form-wrapper--reverse {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.form-wrapper--bg {
  color: #FFFFFF;
  padding: 3% 0;
  background-color: #E96E51;
}
.form-wrapper--white {
  color: #FFFFFF;
}

.wpforms-title {
  font-weight: 700;
}
@media (min-width: 1049px) and (max-width: 1500px) {
  .wpforms-title {
    font-size: 1.6rem;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  .wpforms-title {
    font-size: 1.6rem;
  }
}
@media (max-width: 759px) {
  .wpforms-title {
    font-size: 1.2rem;
  }
}

.wpforms-field-label {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
}
@media (min-width: 1049px) and (max-width: 1500px) {
  .wpforms-field-label {
    font-size: 1.2rem !important;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  .wpforms-field-label {
    font-size: 1.2rem !important;
  }
}
@media (max-width: 759px) {
  .wpforms-field-label {
    font-size: 0.7rem !important;
  }
}

.wpforms-field-large {
  border: 2px solid #B6B6B6 !important;
  border-radius: 4px !important;
}
.wpforms-field-large:hover {
  border-color: #F2AC45 !important;
}

.form {
  width: 40% !important;
}
@media (max-width: 759px) {
  .form {
    width: 80% !important;
  }
}
.form__text--white {
  color: #FFFFFF;
}
.form__content {
  margin: auto;
  width: 95%;
}
.form__content--50w {
  margin: 0 2%;
  width: 50%;
}
@media (max-width: 759px) {
  .form__content--50w {
    width: 100% !important;
  }
}

.bi {
  color: #FFFFFF;
  margin: 15px;
  font-size: 1.6rem;
}
@media (min-width: 1049px) and (max-width: 1500px) {
  .bi {
    font-size: 1.3rem;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  .bi {
    font-size: 1.3rem;
  }
}
@media (max-width: 759px) {
  .bi {
    margin: 10px;
    font-size: 0.9rem;
  }
}
.bi:hover {
  transition: all ease-in-out 0.3s;
  color: #f2f2f2;
}
.bi--form {
  margin: 8px;
  color: #3A5743;
}
.bi--form:hover {
  transition: all ease-in-out 0.3s;
  color: #4e765b;
}
.bi-plus {
  background-color: #7CBC95;
  font-size: 2.3rem;
  font-weight: 900;
  padding: 0 10%;
  border-radius: 50%;
}
@media (min-width: 1049px) and (max-width: 1500px) {
  .bi-plus {
    font-size: 1.8rem;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  .bi-plus {
    font-size: 1.8rem;
  }
}
@media (max-width: 759px) {
  .bi-plus {
    font-size: 1.3rem;
  }
}
.bi-chevron-compact-down {
  font-size: 2.3rem;
  font-weight: 900;
  color: #3A5743;
}
@media (min-width: 1049px) and (max-width: 1500px) {
  .bi-chevron-compact-down {
    font-size: 1.8rem;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  .bi-chevron-compact-down {
    font-size: 1.8rem;
  }
}
@media (max-width: 759px) {
  .bi-chevron-compact-down {
    font-size: 1.3rem;
  }
}
.bi-chevron-compact-down:hover {
  transition: all ease-in-out 0.3s;
  color: #4e765b;
}

details[open] > summary .bi-chevron-compact-down {
  transform: rotate(180deg);
  transition: all ease-in-out 0.3s;
}

.link-padding {
  padding-right: 2%;
}

.glosario-img-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.glosario-img__img {
  margin-right: 5%;
  margin-bottom: 3%;
}
@media (max-width: 759px) {
  .glosario-img__img {
    width: 35%;
  }
}

.display--b {
  display: block;
}

.display--n {
  display: none;
}

.select-wrapper {
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.select {
  display: grid;
  width: 130%;
  margin-bottom: 5%;
  padding: 5px;
  color: #3A5743;
  background-color: #FFFFFF;
  font-size: 1.6rem;
  border: 1px solid #CBC5C5;
  border-radius: 0.25em;
}
@media (min-width: 1049px) and (max-width: 1500px) {
  .select {
    font-size: 1.3rem;
  }
}
@media (min-width: 759px) and (max-width: 1049px) {
  .select {
    font-size: 1.3rem;
  }
}
@media (max-width: 759px) {
  .select {
    font-size: 0.9rem;
  }
}
.select .select--b {
  font-weight: bold;
}

.text-wrapper {
  margin-top: 2%;
  width: 70%;
  margin-left: 15%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.organismos-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex: wrap;
}
@media (min-width: 759px) and (max-width: 1049px) {
  .organismos-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (max-width: 759px) {
  .organismos-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/*# sourceMappingURL=styles.css.map */
