@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
body {
  background-color: #FFFFFF;
}

.content-wrapper {
  margin: auto;
  width: 83%;
}

h1, h3, h5, .wpforms-title, h6 {
  font-family: "Playfair Display", serif;
  font-size: 3.1rem;
  color: #3A5743;
}

h3, h5, .wpforms-title, h6 {
  font-size: 2.3rem;
}

h5, .wpforms-title, h6 {
  font-family: "Mukta", sans-serif;
  font-size: 1.9rem;
}

.wpforms-title, h6 {
  font-size: 1.7rem;
}

h1 {
  text-transform: uppercase;
}

p, li {
  font-size: 1.6rem;
  color: #3A5743;
}

#wpforms-submit-227, #wpforms-submit-213, #wpforms-submit-26, .button {
  background-color: #F2AC45;
  font-size: 1.5rem;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 220px;
  padding: 1% 2.5%;
  cursor: pointer;
}

.button--center {
  margin-left: 45%;
}
.button--green {
  background-color: #7CBC95;
}
.button--grey {
  background-color: #8888;
}

#wpforms-submit-26 {
  padding: 2.5% 7%;
}

#wpforms-submit-213 {
  padding: 2.5% 7%;
}

#wpforms-submit-227 {
  padding: 2.5% 7%;
}

a {
  font-size: 1.25rem;
  color: #3A5743;
}
a:visited {
  color: #3A5743;
}
a:hover {
  transition: all ease-in-out 0.3s;
  color: #639472;
}

.edit-link {
  display: none;
}

.section-wrapper--01 {
  background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' width='1920' height='1079' viewBox='0 0 1920 1079.61'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e1f2e7;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E01_vector_bg%3C/title%3E%3Cpath class='cls-1' d='M913.69,201C1236.94-.08,1816.75-1.91,1920,.9V907c-465.33-73.51-586,279.38-1920,140.08v-664C305.78,393.59,590.45,402.12,913.69,201Z' transform='translate(0 -0.39)'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.section-wrapper--02 {
  background-image: url("data:image/svg+xml,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 792.3'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e1f2e7;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E02_vector_bg%3C/title%3E%3Cpath class='cls-1' d='M951,107.56C521.76-17.11,328.58-39.31,0,72.17L1,650.89C325.5,840.5,985.5,637,1440,792.3v-643C1302.84,167,1152.86,166.19,951,107.56Z' transform='translate(0 0)'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}
.section-wrapper--flex {
  padding: 10% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section-wrapper--flex--col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.section-wrapper--flex--col p {
  width: 80%;
  margin: 3% 2%;
}

.table__item-3, .table__item-2, .table__item-1 {
  padding: 1% 5%;
  background-color: #FCFBEC;
  border-radius: 6px;
}

.table {
  max-height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-row-gap: 0%;
  grid-column-gap: 0%;
  grid-template-areas: "title-1 title-2 title-3" "item-1 item-2 item-3";
}
.table__title-1 {
  grid-area: "title-1";
}
.table__title-2 {
  grid-area: "title-2";
}
.table__title-3 {
  grid-area: "title-3";
}
.table__item-1 {
  grid-area: "item-1";
}
.table__item-1--nobg {
  background-color: #FFFFFF;
}
.table__item-2 {
  grid-area: "item-2";
}
.table__item-2--nobg {
  background-color: #FFFFFF;
}
.table__item-3 {
  grid-area: "item-3";
}
.table__item-3--nobg {
  background-color: #FFFFFF;
}

.table > p:nth-child(6n+1) {
  background-color: #FFFFFF;
}

.table > p:nth-child(6n+2) {
  background-color: #FFFFFF;
}

.table > p:nth-child(6n+3) {
  background-color: #FFFFFF;
}

.question-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Mukta", sans-serif;
  font-size: 1.6rem;
}

.ul-mision__li {
  list-style: none;
  margin-bottom: 4%;
}
.ul-mision__li p::before {
  content: "•";
  color: #7CBC95;
  font-weight: 800;
  font-size: 2.3rem;
  display: inline-block;
  width: 0.7em;
  margin-left: -1em;
}

.ul-form-contact {
  padding: 2% 0;
  margin-left: 0;
  list-style: none;
}
.ul-form-contact li {
  padding: 2% 0;
}

.title {
  text-align: center;
}
.title--left {
  text-align: left;
}
.title--mb-0 {
  margin-bottom: 0;
}
.title--mt {
  margin-top: 130px;
}
.title--white {
  color: #FFFFFF;
}

.title__span {
  border-left: 5px solid #FBD197;
  padding-left: 10px;
}
.title__span--green {
  border-left: 5px solid #9DC8AA;
}
.title__span--grey {
  border-left: 5px solid #8888;
}

html {
  background-color: #E1F2E7;
}
html footer {
  background-color: #E1F2E7;
}

.main-navigation ul {
  margin-top: 2%;
  justify-content: flex-end;
  position: sticky;
}

.menu li {
  margin-left: 10px;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
}
.menu li a {
  padding: 0.1rem 0.5rem;
}

.li--accented a {
  color: #FFFFFF;
  border-radius: 250px;
  background-color: #E96E51;
}
.li--accented a:hover {
  background-color: #ec8168;
}

.li--bold a {
  font-weight: bold;
}

.sub-menu {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 1%;
}
.sub-menu li a:hover {
  color: #FFFFFF;
  background-color: #7CBC95;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero__bg {
  background-image: url("data:image/svg+xml,%3Csvg width='1440' height='805' viewBox='0 0 1440 805' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1442.5 66.7074C1308.63 142.873 1071.84 201.395 755.684 84.8946C427.992 -35.8547 155.268 -6.11997 -0.5 43.1838V804.09C129.908 795.353 344.649 754.704 596.15 636.209C879.832 502.552 1234.85 643.169 1442.5 768.948V66.7074Z' fill='%23E1F2E7'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  height: 850px;
}
.hero__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.hero__img {
  position: relative;
  top: 100px;
  border-radius: 50%;
}

.header-bar {
  background-color: #7CBC95;
  height: 70px;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 999;
}

.site-header {
  overflow: visible;
  background-color: rgba(255, 255, 255, 0.87);
  top: 100px;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

img.custom-logo {
  max-height: 218px;
  max-width: 510px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  margin: auto;
}
.card-wrapper--bg {
  background: url("data:image/svg+xml,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1920 739.59'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e1f2e7;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E04_vector_bg%3C/title%3E%3Cpath class='cls-1' d='M913.69,477.43c323.25-137.75,903.06-139,1006.31-137.08V961.1c-465.33-50.36-586,191.39-1920,96V602.17C305.78,609.37,590.45,615.22,913.69,477.43Z' transform='translate(0 -340)'/%3E%3C/svg%3E") no-repeat top, url("data:image/svg+xml,%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 573.39'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23e1f2e7;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3E04_vector_bg%3C/title%3E%3Cpath class='cls-1' d='M951,296.75C521.76,206.53,328.58,190.47,0,271.14L1,690C325.5,827.18,985.5,679.91,1440,792.3V327C1302.84,339.77,1152.86,339.19,951,296.75Z' transform='translate(0 -218.91)'/%3E%3C/svg%3E") no-repeat bottom;
  background-repeat: repeat-y space;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  margin: 1%;
  padding: 1%;
  border-radius: 28px;
  text-align: center;
  width: 30%;
  transition: 0.5s ease-in-out;
}
.card:hover {
  transform: scale(99%);
  cursor: pointer;
}
.card__title {
  margin: 0;
  padding: 0;
  width: 100%;
}
.card__title--left {
  width: 110%;
  text-align: left;
}
.card__title--modal {
  color: #FFFFFF;
}
.card__subtitle {
  text-align: center;
  margin: 0;
  padding: 0;
}
.card__subtitle--modal {
  color: #FFFFFF;
}
.card__img {
  margin: 0;
  padding: 15px;
  width: 110%;
}
.card__img--nw {
  width: 30%;
}
.card__img--br {
  padding: 40px;
  border-radius: 50%;
}
.card__text {
  text-align: center;
  margin: 0;
  padding: 0;
}
.card__text--left {
  text-align: left;
}
.card__text--modal {
  color: #FFFFFF;
}

.card__text-wrapper {
  width: 90%;
  margin-bottom: 10%;
}
.card__text-wrapper--modal {
  text-align: center;
  margin: 0;
  width: 60%;
}

.modal {
  cursor: pointer;
  position: fixed;
  margin: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.959);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  color: #3A5743;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.form-wrapper--rs {
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.form-wrapper--rs h6 {
  margin: 0;
}
.form-wrapper--reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}
.form-wrapper--bg {
  color: #FFFFFF;
  padding: 3% 0;
  background-color: #E96E51;
}
.form-wrapper--white {
  color: #FFFFFF;
}

.section-wrapper-censo {
  padding: 3% 0;
}

.wpforms-title {
  font-weight: 700;
}

.wpforms-field-label {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
}

.form {
  width: 40% !important;
}
.form__text--white {
  color: #FFFFFF;
}
.form__content {
  margin: auto;
  width: 95%;
}
.form__content--50w {
  margin: 0 2%;
  width: 50%;
}

.wpforms-field-large {
  border: 2px solid #B6B6B6 !important;
  border-radius: 4px !important;
}
.wpforms-field-large:hover {
  border-color: #F2AC45 !important;
}

.bi {
  color: #FFFFFF;
  margin: 15px;
  font-size: 1.6rem;
}
.bi:hover {
  transition: all ease-in-out 0.3s;
  color: #f2f2f2;
}
.bi--form {
  margin: 8px;
  color: #3A5743;
}
.bi--form:hover {
  transition: all ease-in-out 0.3s;
  color: #4e765b;
}
.bi-plus {
  background-color: #7CBC95;
  font-size: 2.3rem;
  font-weight: 900;
  padding: 0 10%;
  border-radius: 50%;
}
.bi-chevron-compact-down {
  font-size: 2.3rem;
  font-weight: 900;
  color: #3A5743;
}
.bi-chevron-compact-down:hover {
  transition: all ease-in-out 0.3s;
  color: #4e765b;
}

details[open] > summary .bi-chevron-compact-down {
  transform: rotate(180deg);
  transition: all ease-in-out 0.3s;
}

.link-padding {
  padding-right: 2%;
}

.glosario-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.glosario__img {
  margin-right: 5%;
  margin-bottom: 3%;
  max-width: 210px;
  max-height: 210px;
}

.display--b {
  display: block;
}

.display--n {
  display: none;
}

.select {
  display: grid;
  width: 130%;
  margin-bottom: 5%;
  padding: 5px;
  color: #3A5743;
  background-color: #FFFFFF;
  font-size: 1.6rem;
  border: 1px solid #CBC5C5;
  border-radius: 0.25em;
}
.select .select--b {
  font-weight: bold;
}

.text-wrapper {
  margin-top: 2%;
  width: 70%;
  margin-left: 15%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.organismos-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex: wrap;
}

/*# sourceMappingURL=styles.css.map */
