body{
    background-color: color(background);    
}

.content-wrapper {
    margin: auto;
    width: 83%;
}

//TYPOGRAPHY

%titles {
    font-family: $font-primary;
    font-size: font-size(title);
    color: color(text);
}

%subtitles {
    @extend %titles;
    font-size: font-size(sub-title);
}

%sub-subtitles {
    @extend %subtitles;
    font-family: $font-secondary;
    font-size: font-size(sub-sub-title);

}

%sub-sub-subtitles {
    @extend %sub-subtitles;
    font-size: font-size(sub-sub-sub-title);
}

h1{
    @extend %titles;
    text-transform: uppercase;
} 
h3{
    @extend %subtitles;
}

h5 {
    @extend %sub-subtitles;
}

h6{
    @extend %sub-sub-subtitles;
}

p, li {     
    font-size: font-size(text);
    color: color(text);
}

