%button {
    background-color: color(button);
    font-size: font-size(button-text);
    font-weight: 600;
    color: color(background);
    border-radius: 220px;
    padding: 1% 2.5%;
    cursor: pointer;
    @include desktop {
        font-size: font-size-mq(button-text); }
    @include tablet {
        font-size: font-size-mq(button-text); }
    @include mobile {
        font-size: font-size-mq--mobile(button-text); }
}

.button {
    @extend %button;
    &--center{
        margin-left: 45%;
    }
    &--green{
        background-color: color(primary);
    }
    &--grey{
        background-color: color(grey);
    }
}

#wpforms-submit-26 {
@extend %button;
padding: 2.5% 7%;
}

#wpforms-submit-213 {
    @extend %button;
    padding: 2.5% 7%;
}

#wpforms-submit-227 {
    @extend %button;
    padding: 2.5% 7%;
}