a {
    text-decoration: none;
    font-size: font-size(link);
    color: color(text);
    &:visited {
        color: color(text);
    }
    &:hover{
        transition: $link-transition;
        color: lighten(color(text), 20%);
    }
}

.edit-link { display: none; }