a {
    text-decoration: none;
    font-size: font-size(link);
    color: color(text);
    transition: $link-transition;
    &:visited {
        color: color(text);
    }
    &:hover{
        color: lighten(color(text), 20%);
    }
    @include desktop{
        font-size: font-size-mq(link);
    }
    @include tablet{
        font-size: font-size-mq(link);
    }
    @include mobile{
        font-size: font-size-mq--mobile(link);
    }
}

.edit-link { display: none; }